<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] logger=%logger{38} lvl=%-5level - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="io.lettuce" level="WARN"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="com.suryadigital.leo" level="DEBUG"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="org.testcontainers" level="WARN"/>
</configuration>
